body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.main{
    width: 100%;
    height: 100%;
    margin: 0;   
}

.toright{
    top: 7.5;
    left: 1350;
}

.title{
    margin: 0 auto;
    top: 10;
    height: 75px;
    width: 600px;
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    text-align: center;
}

.text{
    margin: 2.5% auto;
    font-family: 'Roboto', sans-serif;
    width: 600px;
    text-align: center;
}

.row{
    background-image: url(img/day.png);
    height: 95vh;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.dark-mode{
    background-image: url(img/night.png);
    background-color: #4d4d4d;
    color: white;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}